@use "../general-styles/colors" as c;
@use "../general-styles/typography" as f;
@media screen and (max-width: 500px) {
  .header {}

  .showcase {
    &__content {


      &--links {
        flex-direction: column;
        align-items: flex-start;

        a:link,
        a:visited {
          font-size: f.fd('s1');
        }
      }
    }
  }

  .features {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}