%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%sec-padding {
  padding: 6vh 4vw;
}

%sec-heading {
  font-size: var(--1r-2w);
  font-weight: var(--300);
  ;
  letter-spacing: 0.2rem;
  color: var(--gray-100);
}

%sec-para {
  font-size: var(--15r);
  letter-spacing: 0.2rem;
  font-family: "Balsamiq Sans", cursive;
  color: var(--gray-100);
}

%sec-h3 {
  font-size: var(--1r);
  color: var(--gray-100);
}

%sec-h4 {
  color: var(--gray-100);
}