@use "../general-styles/colors" as clrs;
@use "../general-styles/typography" as type;

.sub-title {
  font-size: type.fs(m1);
  font-weight: type.fw(300);
  transition: all 0.25s ease-in-out;
  color: clrs.colors(red-500);

  @media (hover) {
    & {
      color: clrs.colors(gray-100);
    }

    &:hover {
      color: clrs.colors(red-500);
    }
  }
}