//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// _variables.scss
$light-theme-colors: (
  'green-500': hsl(87, 98%, 34%),
  'green-600': hsla(87, 100%, 45%, 0.55),
  'violet-500': hsl(274, 99%, 72%),
  'violet-600': hsl(274, 99%, 72%, 0.6),
  'blue-500': hsl(185, 36%, 47%),
  'blue-600': rgba(38, 52, 65, 0.65),
  'orange-500': rgb(255, 235, 153),
  'orange-600': rgba(192, 162, 43, 0.65),
  'gray-100': white,
  'gray-500': rgba(255, 255, 255, 0.5),
  'facebook': hsl(221, 44%, 42%),
  'twitter': hsl(206, 82%, 63%),
  'linkedin': hsl(201, 100%, 35%),
  'instagram': hsl(329, 100%, 50%)
);

$dark-theme-colors: (
  'green-500': rgb(36, 38, 43),
  'green-600': rgba(36, 38, 43, 0.65),
  'violet-500': rgb(124, 185, 8),
  'violet-600': rgba(123, 185, 8, 0.5),
  'blue-500': rgb(38, 52, 65),
  'blue-600': hsla(183, 34%, 38%, 0.65),
  'orange-500': hsl(220, 10%, 28%),
  'orange-600': hsla(220, 10%, 28%, 0.65),
  'gray-100': white,
  'gray-500': rgba(255, 255, 255, 0.5),
  'facebook': hsl(221, 44%, 42%),
  'twitter': hsl(206, 82%, 63%),
  'linkedin': hsl(201, 100%, 35%),
  'instagram': hsl(329, 100%, 50%)
);


// _mixins.scss

// Cria variáveis de tema dinâmicas com base em um mapa de cores
@mixin theme-variables($colors) {
  @each $color in $colors {
    $name: nth($color, 1); // Extrai o nome da variável de cor
    $value: nth($color, 2); // Extrai o valor da variável de cor
    //--color-#{$name}: #{$value}; // Cria uma variável CSS customizada com o nome e valor extraídos
    --#{$name}: #{$value};
  }
}

// Cria classe de background dinâmico com base em um mapa de cores
@mixin dynamic-background($colors) {
  @each $name, $color in $colors {

    &.bg-#{$name},
    &>.bg-#{$name},
    .bg-#{$name} {
      background-color: $color;
    }
  }
}

// Cria classe de cor de texto dinâmica com base em um mapa de cores
@mixin dynamic-text($colors) {
  @each $name, $color in $colors {

    &.text-#{$name},
    &>.text-#{$name},
    .text-#{$name} {
      color: $color;
    }
  }
}

// _theme.scss

// Light Color Palette (Custom Properties)
body[data-theme='light'] {
  // Inclui as variáveis de tema para o tema claro
  @include theme-variables($light-theme-colors);
  // Aplica background dinâmico e estilos de texto para o tema claro
  @include dynamic-background($light-theme-colors);
  @include dynamic-text($light-theme-colors);
}

//Dark Color Palette (Custom Properties)
body[data-theme='dark'] {
  // Inclui as variáveis de tema para o tema escuro
  @include theme-variables($dark-theme-colors);

  // Aplica background dinâmico e estilos de texto para o tema escuro
  @include dynamic-background($dark-theme-colors);
  @include dynamic-text($dark-theme-colors);
}