@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--green-500);
}

li {
  list-style: none;
}

a:link,
a:visited {
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: var(--gray-100);
  font-weight: var(--100);
  letter-spacing: 0.2rem;
  font-size: var(--15r-35w);
}

::selection {
  background-color: var(--green-500);
}

i {
  color: var(--gray-100);
  font-size: var(--1r-3w);
}

svg {
  color: var(--green-500);
  font-size: var(--1r-3w);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

//************************** Scroll to top button *******************
.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  // background-image: url("../img/scroll/scroll.svg");
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

//*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements -*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}