// ----------*----------  space

//       space    = Padding

//       -------------------- Sizing Nature
//       d      = dynamic
//       st     = static

//       -------------------- Sizing
//       l      = large
//       m      = medium
//       s      = small
//       xs     = extra small
//       c      = customized

// -------------------- Orientation
//       x      = vertical   (top & bottom)
$space-d-x: (
  "l": calc(2rem + 12vh),
  "mc": calc(1rem + 8vh),
  "m": calc(1rem + 6vh),
  "sc": calc(1rem + 4vh),
  "s": calc(1rem + 1vh),
);

@function space-d-x($space-dx) {
  @return map-get($space-d-x, $space-dx);
}

// -------------------- Orientation
//       y      = horizontal (right & left)
$space-d-y: (
  "l": calc(2rem + 12vw),
  "mc": calc(1rem + 8vw),
  "m": calc(1rem + 6vw),
  "sc": calc(1rem + 4vw),
  "s": calc(1rem + 2vw),
  "xs": calc(1rem + 1vw),
);

@function space-d-y($space-dy) {
  @return map-get($space-d-y, $space-dy);
}

// -------------------- Orientation
//       x      = vertical   (top & bottom)
$space-st-x: (
  "xl": 4rem,
  "lc": 3rem,
  "l": 2rem,
  "m": 1.5rem,
  "s": 1rem,
);

@function space-st-x($space-stx) {
  @return map-get($space-st-x, $space-stx);
}

// -------------------- Orientation
//       y      = horizontal (right & left)
$space-st-y: (
  "l": 3rem,
  "m": 2.5rem,
  "s": 2rem,
  "xs": 1.5rem,
);

@function space-st-y($space-sty) {
  @return map-get($space-st-y, $space-sty);
}